
<section class="l-block l-block--secondary">
    <div class="l-restrict c-contact">
        <div class="c-contact__right">
            <h2>Contact us.</h2>
            <perch:template path="content/contact_emails.html">
            <perch:template path="content/socials.html">
        </div>
        <perch:form class="c-form c-contact__left" app="perch_forms"  method="post" id="contact">
            <div class="c-form__name">
                <label>Name</label>
                <div class="c-form__name-group">
                    <perch:label for="first_name">First Name</perch:label>
                    <perch:input name="first_name" id="first_name" label="First Name" />
                </div>
                <div class="c-form__name-group">
                    <perch:label for="last_name">Last Name</perch:label>
                    <perch:input name="last_name" id="last_name" label="Last Name" />
                </div>
            </div>
            <div class="c-form__group">
                <perch:label for="email">Email</perch:label>
                <perch:input name="email" id="email" label="Email" />
            </div>
            <div class="c-form__group">
                <perch:label for="message">Message</perch:label>
                <perch:input name="message" id="message" label="Message" type="textarea" />
            </div>
            <perch:input type="submit" id="submit" value="Send" />
        
            <perch:success>
                <perch:content id="success" type="textarea" label="Thank you message" textile editor="markitup">
            </perch:success>
        </perch:form>
    </div>
</section>

