.c-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 1.8vw 4vw;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

.c-header__links {
    display: flex;
    gap: 1.5rem;
}

.c-header__links.mobile {
    position: fixed;
    background-color: var(--secondary-color);
    width: 100%;
    flex-direction: column;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(3rem);
    transition: 200ms;
}

.c-header__links.mobile.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.c-header__links.mobile .c-navigation {
    flex-direction: column;
    gap: 2rem;
    flex-grow: 2;
    justify-content: start;
    align-items: center;
    overflow: auto;
    max-height: 70%;
}

.c-header__links.mobile .c-navigation__wrapper {
    display: flex;
    flex-grow: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.c-header__links.mobile .c-navigation a {
    font-size: 2.5rem;
}

.c-header__links.mobile .c-socials {
    margin-bottom: 3rem;
    gap: 1.2rem;
    transform: translateY(4rem);
    transition: 400ms;
}

.c-header__links.mobile.show .c-socials {
    margin-bottom: 3rem;
    gap: 1.2rem;
    transform: translateY(0);
}

.c-header__links.mobile .c-socials i {
    font-size: 1.5rem;
}

.c-navigation {
    display: flex;
    gap: 1.5rem;
}

.c-navigation__wrapper {
    display: flex;
    align-items: center;
}

.c-navigation a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-family: Oswald, sans-serif;
}

.c-navigation a.selected {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.c-header__logo {
    max-height: 130px;
}

.c-socials {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    /* margin-top: 0.2rem; */
}

.c-socials i {
    font-size: 1.05rem;
    line-height: 1.05rem;
    color: black;
}

.c-header .c-socials i {
    color: white;
}


.l-block {
    min-height: 434px;
    padding: clamp(3rem, 4vw, 6rem) 4vw;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-block__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);
}

.l-block--primary {
    background-color: var(--primary-color);
    color: white;
}

.l-block--secondary {
    background-color: var(--secondary-color);
    color: black;
}

.l-block--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-restrict {
    max-width: 1280px;
    margin: 0 auto;
}

.l-restrict--narrow {
    max-width: 700px;
}

#hamburger_button {
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

#hamburger_button i {
    font-size: 2rem;
    color: rgb(94 94 94);
}

@media screen and (max-width:680px) {
    #hamburger_button {
        display: block;
    }
}

.l-block--secondary .c-text {
    color: #2a5575;
}

.c-text *+* {
    margin-top: 1em;
}

.c-text p {
    max-width: 100ch;
    font-size: 1.5rem;
}

.c-text h1 {
    margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
    .c-text p {
        font-size: 1.1rem;
    }

    .c-text h1 {
        margin-bottom: 1rem;
    }
}

.c-team {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-team__list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.c-team__member {
    text-align: center;
}

.c-team__member h3 {
    margin-bottom: 0.6rem;
}

.c-team__title {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
}

.c-full-artist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.c-full-artist__image-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.c-full-artist__image-container > * {
    grid-row-start: 1;
    grid-column-start: 1;
}

.c-full-artist img {
    width: 100%;
    height: 670px;
    object-fit: cover;
}

.c-full-artist__text {
    max-width: 800px;
    text-align: center;
}

.c-full-artist__text p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.3rem;
}

.c-full-artist__overlay {
    background-color: rgba(0, 0, 0, 0.199);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.c-full-artist__overlay-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

:is(.c-full-artist__overlay-text, .c-full-artist__text) > * + * {
    margin-top: 1em;
}

.c-full-artist__overlay-text p {
    font-size: 1.2rem;
}

.c-full-artist__overlay-buttons {
    display: flex;
    gap: 1rem;
}

.c-full-artist__overlay-buttons button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    font-family: Oswald, sans-serif;
}


.c-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-partners img {
    max-width: 100%;
}

.c-artists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
    gap: 2rem;
    width: 100%;
}

.c-artists a {
    color: black;
}

@media screen and (max-width: 600px) {
    .c-artists {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 140px), 1fr));
        gap: 1rem;
    }
}

.c-artists a {
    text-decoration: none;
}

.c-artist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.c-artists a.c-artist .c-artist__label {
    color: black;
}

.c-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
}

.c-contact__right h2 {
    margin-bottom: 2rem;
}

.c-contact__right a {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.c-contact__right .c-socials {
    margin-top: 2rem;
    gap: 1rem;
}

.c-contact__right .c-socials i {
    font-size: 1.2rem;
}

.c-contact__emails {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.c-contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.c-form__name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "label label"
                         "first last";
    column-gap: 2rem;
}

.c-form__name:last-child {
    grid-area: last;
}

.c-form__name:nth-child(2) {
    grid-area: first;
}

.c-form__name > label {
    grid-area: label;
}

form :is(input, textarea) {
    padding: 0.6rem;
    border: 1px solid rgb(182, 182, 182);
    width: 100%;
}

form textarea {
    resize: vertical;
}

.c-form__name-group {
    display: flex;
    flex-direction: column-reverse;
}

.c-form__name-group label {
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

:is(.c-form__group, .c-form__name) > label {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.2rem;
}

form input[type="submit"] {
    width: auto;
    min-width: 140px;
    align-self: start;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
}

@media screen and (max-width: 900px) {
    .c-form__name {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .c-form__name > *:last-child {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .c-contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}



.c-big-links {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 1.3rem);
    line-height: clamp(2.4rem, 4vw, 3.6rem);
    width: 100%;
}

.c-big-links a {
    color: #4890c7;
    font-size: clamp(3rem, 5vw, 4rem);
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.2em;
}

.c-big-text__icons {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    gap: 1rem;
}

.c-icon-background {
    background-color: white;
    border-radius: 100px;
    font-size: 1rem;
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-icon-background i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.c-big-text {
    padding: 2rem 0;
}

.c-big-text p {
    font-size: 3rem;
    text-align: center;
    max-width: 25ch;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    line-height: 3.8rem;
}

.c-big-text p:last-child {
    margin-bottom: 0;
}

.c-text-image {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    text-align: center;
    align-items: center;
}


.c-text-image img {
    max-width: 100%;
}

.c-text-image__text * {
    font-size: 2.4rem;
    color: inherit;
}

.c-text-image a:last-child {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    display: block;
}

.c-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-footer .c-socials {
    margin-bottom: 3rem;
}

.c-footer .c-socials i {
    font-size: 1.2rem;
}

.c-footer small {
    opacity: 0.8;
    margin-bottom: 0.5rem;
}

.c-footer a {
    margin-top: 1.3rem;
}

@media screen and (max-width: 600px) {
    .c-big-links {
        padding: 17px;
    }

    .c-big-text p {
        font-size: 2rem;
    }

    .c-text-image {
        padding: 3rem 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 1.3rem;
    }

    .c-text-image__text * {
        font-size: 1.5rem;
    }
}

[class*="c-animated"] {
    transition: 750ms ease;
}

[class*="--fade"] {
    opacity: 0;
}

[class*="--fade"].show {
    opacity: 1;
}

[class*="--fade-down"] {
    transform: translateY(-50px);
}

[class*="--fade-up"] {
    transform: translateY(50px);
}

:is([class*="--fade-up"], [class*="--fade-down"]).show {
    transform: translateY(0px);
}

[class*="--fade-left"] {
    transform: translateX(-50px);
}

[class*="--fade-right"] {
    transform: translateX(50px);
}

:is([class*="--fade-left"], [class*="--fade-right"]).show {
    transform: translateX(0px);
}